name: Microservice CI

on:
  workflow_call:
    inputs:
      service:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
      packages: write
      security-events: write

    env:
      IMAGE_NAME: ghcr.io/${{ github.repository_owner }}/microservices-demo/${{ inputs.service }}:sha-${{ github.sha }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4


      # ⭐ Enables Docker caching (VERY important)
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3


      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}


      # ⭐ Cached build
      - name: Build Image
        run: |
          docker build \
            --cache-from=type=gha \
            --cache-to=type=gha,mode=max \
            -t $IMAGE_NAME \
            ./src/${{ inputs.service }}


      # ⭐ Security scan BEFORE push
      - name: Run Trivy Scan
        uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: $IMAGE_NAME
          severity: HIGH,CRITICAL
          exit-code: 1


      - name: Push Image
        run: docker push $IMAGE_NAME

